#chat-log .message.desc {
	background: #ececec;
	border-color: gray !important;
}
#chat-log .message.desc .message-header .message-sender {
	display: none;
}
#chat-log .message.desc .message-content {
	text-align: center;
	color: gray;
	font-style: italic;
}