#chat-log .message.desc {
	background: #ececec;
	border-color: gray !important;
}
#chat-log .message.desc .message-header .message-sender {
	display: none !important; 
}
#chat-log .message.desc .message-header .message-portrait {
	display: none !important; 
}
#chat-log .message.desc .message-content {
	text-align: center;
	color: gray;
	font-style: italic;
}
#chat-form {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
}

.typing-notify {
	overflow-wrap: break-word;
	max-height: 60px;
	background: transparent;
	border-radius: 0px;
	-webkit-transition: max-height .3s ease-out;
	-moz-transition: max-height .3s ease-out;
	-ms-transition: max-height .3s ease-out;
	-o-transition: max-height .3s ease-out;
	transition: max-height .3s ease-out;
	position: relative;
	width: 100%;
	top: 2px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.typing-notify.hidden {
	max-height: 0px;
	color: transparent;
}
.typing-notify .notify-text {
	margin: 0 0 0 4px;
}

.dot {
	width: 5px;
	height: 5px;
	background: currentColor;
    display: inline-block;
	border-radius: 50%;
    right: 0px;
    bottom: 0px;
    margin: 0px 1.25px;
    position: relative;
    animation: jump 1s infinite;
}
.dots-cont .dot-1 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.dots-cont .dot-2 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.dots-cont .dot-3 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.hidden .dots-cont {
    display: none;
}
@keyframes jump {
    0%   {bottom: 0px;}
    20%  {bottom: 5px;}
    40%  {bottom: 0px;}
}
